<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!--定义日志文件的存储路径  测试环境日志路径为/logdata/bigdata-openapi，部署测试环境需要替换路径-->
	<property name="LOG_HOME" value="D:\logs" />
	<property name="APPLICATION_NAME" value="bigdata-openapi" />
	<!-- 控制台输出 -->
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
			<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] | [%logger{36}.%M:%L] %msg%n</pattern>
		</encoder>
	</appender>
	<!-- 按照每天生成日志文件 -->
	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--日志文件输出的文件名 -->
			<FileNamePattern>${LOG_HOME}/${APPLICATION_NAME}.%d{yyyy-MM-dd}.log</FileNamePattern>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
			<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] | [%logger{36}.%M:%L] %msg%n</pattern>
		</encoder>
	</appender>

	<!-- 日志输出级别 -->
	<root level="info">
		<!-- 控制台打印，生产环境去掉 -->
		<appender-ref ref="stdout" />
		<!-- 文件打印 -->
		<appender-ref ref="file" />
	</root>

</configuration>